.blog-e-container {
  width: 100%;
  margin: 50px auto 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.margin-auto {
  margin: 0 auto;
  max-width: 600px;
}
/*  */
.blog-e-title-box {
  text-align: center;
  margin-bottom: 30px;
}
.blog-e-title {
  max-width: 600px;
}
/*  */
.blog-main-img-box img,
.blog-sub-img-box img {
  object-fit: cover;
  width: 100%;
}
.blog-e-subscription {
  margin-bottom: 20px;
  font-size: 20px;
}
.blog-sub-img-box {
  width: 100%;
}
/*  */
.blog-e-toptrend {
  margin-bottom: 30px;
}
.blog-e-toptrend h1 {
  font-weight: 300;
  margin-bottom: 20px;
}
.blog-e-toptrend p,
.blog-e-toptrend li {
  margin-bottom: 10px;
}
.blog-e-toptrend li {
  margin-left: 25px;
}
/*  */
.blog-tags-share {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 25px;
  font-size: 14px;
  color: #444;
}

.blog-tags-share .tags,
.blog-tags-share .share {
  display: flex;
  align-items: center;
  gap: 10px;
}

.blog-tags-share .label {
  font-weight: bold;
  color: #000;
  margin-bottom: 3px;
}

.blog-tags-share .line {
  flex-shrink: 0;
  width: 40px;
  height: 1px;
  background: #000;
  display: inline-block;
}

.blog-tags-share .content {
  color: gray;
}

.blog-tags-share .icons svg {
  margin-left: 10px;
  color: gray;
  cursor: pointer;
  transition: color 0.2s;
}

.blog-tags-share .icons svg:hover {
  color: black;
}
/* blog blog-comment-form */
.blog-comment-form {
  width: 100%;
}

.blog-comment-form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.blog-comment-form p {
  color: gray;
  font-size: 14px;
  margin-bottom: 50px;
}

.blog-comment-form form {
  display: flex;
  flex-direction: column;
}

.blog-comment-form input[type="text"],
.blog-comment-form input[type="email"],
.blog-comment-form textarea {
  padding: 12px 12px 12px 0;
  border: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  font-size: 14px;
  outline: none;
}

.blog-comment-form .checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.blog-comment-form .checkbox input {
  margin-right: 10px;
}

.blog-comment-form textarea {
  resize: none;
}

.blog-comment-form button {
  width: 150px;
  padding: 12px;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
