.order-detail-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  font-family: "Helvetica Neue", sans-serif;
  color: #222;
  gap: 40px;
}

.order-details,
.order-summary {
  flex: 1;
}

.order-details h2,
.order-summary h2 {
  font-size: 22px;
  margin-bottom: 24px;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 40px;
}
.col-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.detail-item label {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #333;
}

.detail-item span {
  font-size: 14px;
  color: var(--dark-gray);
}
.order-summary-box {
  background-color: #f4f4f4;
  padding: 24px;
  border-radius: 8px;
}

.summary-header {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 14px;
  text-transform: uppercase;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  font-size: 14px;
  color: var(--dark-gray);
}

.summary-row strong {
  font-weight: 500;
  font-size: 16px;
}
.order-summary-box .shipping,
.subtotal,
.total-row {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--dark-gray);
}
.total-row {
  font-weight: bold;
  font-size: 16px;
}
.subtotal span,
.shipping span {
  color: var(--dark-gray);
}
/* weareknow */

.weareknow {
  margin-top: 30px;
  width: 100%;
  border-top: solid 3px var(--accent-light);
}
.weareknow-content {
  background-color: var(--light-gray);
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.weareknow-content p {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 15px;
}
.weareknow-content p svg {
  color: var(--accent-light);
}
